body {
  background-color: rgba(163, 155, 175, 0.187);
  display: flex;
  justify-content: center;
  align-items: center;
}
.culc {
  background-color: rgb(137, 92, 211);
  width: 350px;
  min-width: 350px;
  min-height: 485px;
  height: 485px;
  border-radius: 10px;
  padding: 5px;
}
#head {
  width: 100%;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#head p {
  position: relative;
  bottom: 9px;
  left: 8px;
}

#anser {
  width: 97%;
  height: 100px;
  position: relative;
  left: 3.2px;
}
#anser button {
  width: 340px;
  height: 96%;
  border: 0px;
  font-size: 28px;
}
button {
  width: 79px;
  height: 65px;
  margin: 3px;
  border: 0px;
  border-radius: 4px;
  font-size: 24px;
}
button:hover {
  box-shadow: 0px 2px 4px black;
  box-sizing: border-box;
  border-radius: 6px;
}
#num {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
#opr {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0px;
}
#opr button {
  background-color: rgba(226, 226, 227, 0.838);
}
#delet button {
  background-color: rgba(226, 226, 227, 0.838);
}
#num0 button {
  width: 90%;
  background-color: rgba(226, 226, 227, 0.838);
}
#ans1{
  overflow: hidden;
}